/* ==========================================================================
   BASE ELEMENTS & TYPOGRAPHY
   ========================================================================== */

/*
   Typography
   ========================================================================== */

html {
  /* apply a natural box-sizing model to all elements */
  box-sizing: border-box;
  background-color: $lighter-gray;
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * Remove margin
 */

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;
  background-color: $lighter-gray;

  &.overflow--hidden {
    /* when primary navigation is visible, the body element has a class of `overflow--hidden` */
    overflow: hidden;
  }
}

/*
   Typography
   ========================================================================== */

p {
  margin: 0 0 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  padding: 0.1em;
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  margin-bottom: 1.3em;
}

li,
li p {
  margin-bottom: 0.5em;
}

/*
   Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-1;
}

h2 {
  font-size: $type-size-2;
}

h3 {
  font-size: $type-size-3;
}

h4 {
  font-size: $type-size-4;
}

h5 {
  font-size: $type-size-5;
}

h6 {
  font-size: $type-size-6;
}

.small {
  font-size: $type-size-6;
}

/*
   Global Transition
   ========================================================================== */

b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*
   Links
   ========================================================================== */

a {
  color: $link-color;
  text-decoration: none;

  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    color: $link-color-hover;
  }

  &:visited {
    color: $link-color-visited;
  }
}

/*
   Figures
   ========================================================================== */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -ms-interpolation-mode: bicubic;
  }

  > a {
    display: block;
  }

  &.half {
    > img {
      @include breakpoint($large) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      @include breakpoint($large) {
        width: 100%;
      }
    }
  }

  &.third {
    > img {
      @include breakpoint($large) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      @include breakpoint($large) {
        width: 100%;
      }
    }
  }
}

figcaption {
  margin: 0;
  padding: 0;
  font-family: $caption-font-family;
  font-size: $type-size-6;
  color: mix(#fff, $text-color, 25%);

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $text-color;
    }
  }
}

/*
   Code
   ========================================================================== */

tt,
code,
kbd,
samp,
var {
  font-family: $monospace;
  font-size: $type-size-6;
  line-height: 1.5;
  color: $text-color;
  background-color: $code-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-decoration-break: clone;
  padding: 0.2em 0.4em;
}

pre {
  font-family: $monospace;
  font-size: $type-size-6;
  line-height: 1.6;
  overflow-x: auto; /* add scrollbars to wide code blocks*/
  padding: 1em;
  background-color: $code-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &.highlight {
    margin: 0;
    padding: 1em;
  }

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
  }
}

.highlighter-rouge {
  display: block;
  margin: 0;

  .highlight {
    margin: 0;
    padding: 1em;
  }
}

.highlight {
  margin: 0;
  padding: 1em;
  background-color: $code-background-color;
  font-family: $monospace;
  font-size: $type-size-6;
  line-height: 1.8;
  border-radius: $border-radius;

  pre {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .lineno {
    display: inline-block;
    padding: 0 0.75em;
    margin-right: 0.75em;
    color: lighten($text-color, 50%);
    text-align: right;
    border-right: 1px solid lighten($text-color, 50%);
  }

  .lineno + * {
    display: inline-block;
    padding: 0 0.75em;
  }
}

/*
   Blockquotes
   ========================================================================== */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1.5em;
  padding-right: 1em;
  border-left: 0.25em solid $primary-color;
  cite {
    display: block;
    color: lighten($text-color, 70%);
    @extend .small;
  }
}

/*
   Lists
   ========================================================================== */

ul,
ol {
  margin-bottom: 1.3em;
  margin-left: 1.5em;
}

li {
  line-height: 1.8;
}

/*
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  margin-bottom: 1.3em;
  width: 100%;
}
