/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  margin-top: 3em;
  color: lighten($text-color, 18%);
  -webkit-animation: fade-in 0.3s both;
  animation: fade-in 0.3s both;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

footer {
  @include container;
  @include clearfix;
  margin-top: 2em;
  padding: 2em 1em 3em;
  color: $gray;
  font-family: $caption-font-family;
  font-size: $type-size-7;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted $border-color;

    &:hover {
      border-bottom-style: solid;
      color: $link-color;
    }
  }

  @include breakpoint($large) {
    padding-top: 3em;
  }

  @include breakpoint($x-large) {
    max-width: $x-large;
  }
}
